<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Game Over</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: #f8f9fa;
        }
        .game-over-container {
            text-align: center;
            padding: 30px;
            border: 1px solid #dee2e6;
            border-radius: 5px;
            background-color: white;
        }
    </style>
</head>
<body>
<div class="game-over-container">
    <h1>Game Over</h1>

    <!-- Mensaje de resultado -->
    <div class="alert alert-success " role="alert">
        <span th:text="${message}"></span>
    </div>

    <a href="/hangmanGame/configuration" class="btn btn-primary">Jugar de nuevo</a>
</div>


</body>
</html>
