<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de recetas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<!--
<header th:replace="~{fragment/navbar :: nav_bar}"></header>
-->
<div class="container mt-3">
    <a href="/cocina/nuevaReceta" class="btn btn-outline-success"> Agregar</a>
</div>

<div class="container mt-3">
    <div th:if="${mensaje != null}"  class="alert alert-success alert-dismissible fade show mt-3" role="alert">
        <span th:text="${mensaje}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <h1>Lista de recetas</h1>

    <form class="mt-3 mb-3" action="/cocina/filtrado" method="get">
        <div class="row align-items-start">
            <!-- Búsqueda por nombre -->
            <div class="col mb-3">
                <input type="text" class="form-control" name="nombreReceta" placeholder="Buscar por nombre" th:value="${param.nombreReceta}">
            </div>

            <!-- Filtro por categoría -->
            <div class="col mb-3">
                <select class="form-select" name="categoriaReceta">
                    <option value="" selected>Seleccione una categoría</option>
                    <option th:each="categorias : ${listaCategorias}"
                            th:value="${categorias.id}"
                            th:text="${categorias.categoria}"
                            th:selected="${param.categoriaReceta == categorias.id}">
                    </option>
                </select>
            </div>

            <!-- Selección del criterio de ordenación -->
            <div class="col mb-3">
                <select class="form-select" name="sortBy">
                    <option value="dificultad" th:selected="${param.sortBy == 'dificultad'}">Ordenar por Dificultad</option>
                    <option value="ingredientes" th:selected="${param.sortBy == 'ingredientes'}">Ordenar por Cantidad de Ingredientes</option>
                </select>
            </div>

            <!-- Orden Ascendente / Descendente -->
            <div class="col mb-3">
                <select class="form-select" name="sort">
                    <option value="asc" th:selected="${param.sort == 'asc'}">Ascendente</option>
                    <option value="desc" th:selected="${param.sort == 'desc'}">Descendente</option>
                </select>
            </div>
        </div>

        <button type="submit" class="btn btn-outline-primary">Filtrar</button>
        <a class="btn btn-outline-primary" href="/cocina/recetas">Limpiar filtros</a>
    </form>


    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Tiempo de preparación</th>
            <th>Detalles</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="receta : ${listaRecetas}">
            <td th:text="${receta.nombre}"></td>
            <td th:text="${receta.tiempoPreparacion}"></td>
            <td><a th:href="@{'/cocina/detallesReceta?id=' + ${receta.id}}" class="btn btn-outline-info">Ver</a></td>
            <td><a th:href="@{'/cocina/editarReceta?id=' + ${receta.id}}" class="btn btn-outline-warning">Editar</a></td>
            <td>
                <form action="/cocina/deleteReceta" method="post">
                    <input type="hidden" name="id" th:value="${receta.id}">
                    <button type="submit" class="btn btn-outline-danger">Eliminar</button>
                </form>
            </td>
        </tr>

        </tbody>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>